
/* Variables */

:root {
  --basic-white: #ffffff;
  --basic-black: #000000;
  --basic-extra-dark: #333333;
  --basic-almost-black: #231F20;
  --basic-blue: #81B3D2;
  --basic-lightblue: #81B3D3;
  --basic-skyblue: #669ec0;
  --basic-lightskyblue: #5496bd;
  --basic-zirkon-gray: #888888;
  --basic-lightgray: #EEEEEE;
  --basic-ashgray: #CACACA;
  --basic-gray: #f2f2f2;
  --basic-dimgray: #6a6a6a;
  --basic-neutral: #a9a9a9;
  --basic-extra-light: #666666;
  --basic-brown: #766458;
  --basic-lightbrown: #766357;
  --basic-darkbrown: #503e33;
  --basic-saddlebrown: #604e43;
  --basic-lavender: #bdbbbc;
}

/* Global */

body {
  max-width: 1280px;
  margin: 0 auto;
  width: 100%;
  padding: 0;
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  color: var(--basic-black);
  text-transform: uppercase;
  display: grid;
  grid-template-rows: min-content 1fr min-content;
  align-content: start;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

/*Grid*/

.page {
  height: 100%;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.list-reset {
  margin: 0;
  padding: 0;
  list-style: none;
}

/* Grid for catalog */

.page-catalog{
  display: grid;
  outline: 5px solid rgb(250, 6, 6);
  outline-offset: -5px;
}

.container {
  width: 1200px;
  margin: 0 auto;
  outline: 5px solid rgba(50, 37, 163, 0.3);
}

/* Main header */

.main-header {
  outline: 5px solid rgba(0, 255, 0, 0.7);
  outline-offset: -5px;
}

/* Main navigation */

.main-navigation {
  font-size: 14px;
  line-height: 26px;
  color: var(--basic-black);
  background-color: var(--basic-white);
  font-weight: 700;
  outline: 5px solid rgba(255, 0, 0, 0.3);
  outline-offset: -5px;
}

.site-navigation {
  display: flex;
  padding: 15px 72px;
}

.site-navigation li {
  width: 227px;
}

.site-navigation li:nth-child(4n + 1) {
  text-align: left;
}

.site-navigation li:nth-child(4n + 2) {
  margin-right: auto;
  text-align: left;
}

.site-navigation li:nth-child(4n + 3),
.site-navigation li:nth-child(4n + 4) {
  text-align: right;
}

.main-header-logo {
  width: 138px;
  height: 70px;
  margin: 0 auto;
  position: absolute;
}

.site-navigation-current a:not([href]) {
  background-color: var(--basic-white);
}

.site-navigation a {
  color: var(--basic-black);
}

.site-navigation a:hover {
  color: var(--basic-blue);
}
.site-navigation a:focus {
  color: var(--basic-black);
  opacity: 0.3;
}
.site-navigation a:active {
  color: var(--basic-lightbrown);
}

/*Heading*/

.heading {
  text-align: center;
  outline: 5px solid rgba(243, 10, 10, 0.959);
}
/*Description*/

.description {
  background-color: var(--basic-white);
  text-align: center;
  outline: 5px solid rgba(197, 13, 142, 0.3);
}

.description-slogan {
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
}

.description-desc {
  line-height: 26px;
  color: var(--basic-extra-dark);
}

/*features*/

.features {
  outline: 5px solid rgb(17, 244, 252);
  margin: 0;
  padding: 0;
}

.features-list {
  display: flex;
  flex-wrap: wrap;
}

.feature-item {
width: 400px;
}

.reason {
width: 100%;
}


.feature-item-image {
  display: flex;

  outline: 5px solid rgb(142, 35, 230);
  outline-offset: -5px;
}

.feature-item-descript h3{
  font-size: 21px;
}

.feature-item-blue {
  color: var(--basic-white);
  background-color: var(--basic-blue);
  text-align: center;
  outline: 5px solid rgb(48, 87, 88);
  outline-offset: -5px;
}

.blue .feature-item-blue {
  order: 1;
}


.feature-item-blue p {
  margin: 0 52px;
  margin-bottom: 54px;
}

.feature-item-lightgray {
  color: var(--basic-black);
  background-color: var(--basic-lightgray);
  margin: 0;
  padding: 20px 40px;
  text-align: center;
  outline: 5px solid rgb(211, 247, 9);
  outline-offset: -5px;
}

.feature-item-lightgray p{
  color: var(--basic-extra-dark);

}

.feature-image {
  outline: 5px solid rgb(83, 185, 43);
  outline-offset: -5px;
}


/*benefits */

.benefits-list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  outline: 5px solid rgb(19, 46, 133);
  outline-offset: -5px;
  margin: 0;
  text-align: center;
}

.benefits-item {
outline: 5px solid rgba(236, 7, 26, 0.3);
outline-offset: -5px;

}

.benefits-item h4 {
  font-size: 21px;

}

.benefits-item p {
  color: var(--basic-extra-dark);
  padding: 0 40px;
}


/*appointment*/

.appointment {
  text-align: center;
  outline: 5px solid rgb(247, 164, 9);
}

.appointment-headline {
  font-size: 30px;
  line-height: 24px;
  font-weight: 700;
  text-align: center;
  outline: 5px solid rgba(129, 9, 99, 0.938);
  outline-offset: -5px;
}

.appointment-info {
  color: var(--basic-extra-dark);
  width: 435px;
  margin: 0 auto 24px;
  outline: 5px solid rgba(129, 9, 99, 0.938);
  outline-offset: -5px;
}

.form-search {
  width: 568px;
  margin: 0 auto;
  outline: 5px solid rgba(43, 8, 238, 0.938);
  outline-offset: -5px;
}

.search {
  padding: 30px;
  width: 100%;
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
  text-align: center;
  color: var(--basic-white);
  background-color: var(--basic-lightbrown);
  border: inherit;
  text-transform: uppercase;
  outline: 5px solid rgba(96, 226, 10, 0.938);
  outline-offset: -5px;
}

.search:hover {
  color: var(--basic-white);
  background-color: var(--basic-saddlebrown);
  font-weight: 700;
}

.search:focus {
  color: var(--basic-white);
  opacity: 0.3;
  background-color: var(--basic-darkbrown);
}

.appointment-item {

  line-height: 26px;
  color: var(--basic-black);
  font-weight: 700;
}


.appointment-form {
  padding: 55px;
  outline: 5px solid rgb(221, 245, 3);
  outline-offset: -5px;
}

.button {
  font-size: 21px;
  line-height: 26px;
  color: var(--basic-white);
  background-color: var(--basic-blue);
  border: inherit;
}

.button:hover {
  color: var(--basic-white);
  background-color: var(--basic-skyblue);
}

.button:focus {
  color: var(--basic-white);
  opacity: 0.3;
  background-color: var(--basic-lightskyblue);
}



.map {
  outline: 5px solid rgba(37, 39, 36, 0.938);
  outline-offset: -5px;
}

/*Main-footer*/

.main-footer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  color: var(--basic-black);
  background-color: var(--basic-white);
  outline: 5px solid rgba(255, 0, 0, 0.7);
  outline-offset: -5px;
}

.footer-contacts {
  font-size: 21px;
  line-height: 26px;
  text-align: left;
  font-weight: 700;
  outline: 5px solid rgba(255, 0, 200, 0.7);
  outline-offset: -5px;
}

.footer-phone {
  color: inherit;
  text-align: left;
  font-weight: 700;
}



/* Social button*/

.footer-social-items {
  text-align: center;
  outline: 5px solid rgb(15, 126, 126);
  outline-offset: -5px;
}

.social-button {
  color: var(--basic-white);
  background-color:var(--basic-blue);
}

.social-button:hover {
  color: var(--basic-white);
  background-color: var(--basic-skyblue);
}
.social-button:focus {
  color: var(--basic-white);
  fill: solid;
  background-color: var(--basic-lightskyblue);
}

.footer-copyright {
  text-align: right;
  outline: 5px solid rgb(11, 238, 238);
  outline-offset: -5px;
}

.footer-logo {
  color: var(--basic-almost-black);
}

.footer-logo:hover {
  color: var(--basic-blue);
}

.footer-logo:focus {
  color: var(--basic-lavender);
}

/*Catalog*/


/* Filters */

.filters {

  text-align: center;
  background-image: url("../img/mountain.jpg");
  color: var(--basic-white);
  outline: 5px solid rgb(243, 4, 151);
  outline-offset: -5px;
}

.filter {
  display: grid;
  grid-template-columns: 1fr 1fr 2fr;
}

.options-type {
  padding: 0;
  margin: 0;
  margin-bottom: 30px;
  border: none;

}

.filter-type{
  padding-top: 27px;
  padding-bottom: 24px;
  font-size: 16px;
  font-weight: 700;
}

.filter-option {
  padding-left: 72px;
  padding-bottom: 28px;
  text-align: left;
}

.filter-input-checkbox:hover {
  color: var(--basic-white);
}

.filter-input-checkbox:focus {
  color: var(--basic-dimgray);
}

.filter-cost-button {
  border: 2px solid var(--basic-white);
  color: var(--basic-white);
  background-color: transparent;
}

.filter-cost-button:hover {
  color: var(--basic-black);
  background-color: var(--basic-white);
}

/*results*/

.results {
  display: grid;
  grid-template-columns: auto auto 1fr;
  font-size: 12px;
  line-height: 18px;

}

.results-find {
  padding-left: 73px;
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
}

.parts {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  padding-left: 46px;
  align-items: center;
  outline: 5px solid rgb(85, 134, 130);
  outline-offset: -5px;
}

.results-sort {
}

.activ {
  margin-right: 10px;
  color: var(--basic-black);
  opacity: 0.3;
}

.activ a:hover {
  color: var(--basic-blue);
}

.activ a:focus {
  color: var(--basic-black);
}

.activ a:active {
  color: var(--basic-blue);
}

/* Arrow*/

.icon-triangle {
  grid-column: 3 / -1;
  outline: 5px solid rgb(19, 230, 19);
  outline-offset: -5px;
}

.arrow {
  color: var(--basic-ashgray);
}

.arrow:hover {
  color: var(--basic-black);
}

.arrow:focus {
  color: var(--basic-blue);
}

.arrow:active {
  color: var(--basic-blue);
}

.results-list {
  outline: 5px solid rgb(199, 243, 6);
  outline-offset: -5px;
}

.results-list-table {
  display: grid;
  grid-template-columns: 135px 258px 1fr;
  gap: 30px;
  padding: 0 73px;
  padding-top: 23px;
  padding-bottom: 33px;
  outline: 5px solid rgb(97, 6, 243);
  outline-offset: -5px;
}

.results-image {
  width: 135px;
  outline: 5px solid rgb(158, 77, 145);
  outline-offset: -5px;
}


.selection {
  min-height: 100%;
  outline: 5px solid rgb(243, 8, 204);
  outline-offset: -5px;
}

.rating{
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: space-between;
  outline: 5px solid rgb(8, 169, 243);
  outline-offset: -5px;
}

.rating-value {
  color: var(--basic-extra-light);

}

/*selection*/

.title {
  font-size: 21px;
  line-height: 26px;
  color: var (var(--basic-black));
  font-weight: 700;
}

.title:hover {
  color: var(--basic-blue);
}

.title:focus {
  color: var(--basic-black);
  opacity: 0.3;
}

.type {
  color: var(--basic-extra-dark);
}

.extra {
  color: var(--basic-white);
  background-color: var(--basic-blue);
  font-weight: 700;
}
.extra:hover {
  color: var(--basic-white);
  background-color: var(--basic-skyblue);
}

.extra:focus {
  color: var(--basic-white);
  opacity: 0.3;
  background-color: var(--basic-lightskyblue);
}

.book {
  color: var(--basic-white);
  background-color: var(--basic-lightbrown);
  font-weight: 700;
}

.book:hover {
  color: var(--basic-white);
  background-color: var(--basic-saddlebrown);
}

.book:focus {
  color: var(--basic-white);
  opacity: 0.3;
  background-color: var(--basic-darkbrown);
}


