
/* Variables */

:root {
  --basic-white: #ffffff;
  --basic-black: #000000;
  --basic-extra-dark: #333333;
  --basic-almost-black: #231F20;
  --basic-blue: #81B3D2;
  --basic-lightblue: #81B3D3;
  --basic-skyblue: #669ec0;
  --basic-lightskyblue: #5496bd;
  --basic-zirkon-gray: #888888;
  --basic-lightgray: #EEEEEE;
  --basic-gray: #f2f2f2;
  --basic-dimgray: #6a6a6a;
  --basic-neutral: #a9a9a9;
  --basic-extra-light: #666666;
  --basic-brown: #766458;
  --basic-lightbrown: #766357;
  --basic-darkbrown: #503e33;
  --basic-saddlebrown: #604e43;
  --basic-lavender: #bdbbbc;
}

/* Global */

body {
  min-width: 1200px;
  margin: 0;
  padding: 0;
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  color: var(--basic-black);
  text-align: center;
  text-transform: uppercase;
  background-position: top center;
  background-repeat: no-repeat;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

/* Main navigation */

.main-navigation {
  font-size: 14px;
  line-height: 26px;
  color: var(--basic-black);
  background-color: var(--basic-white);
  font-weight: 700;
}

.list-reset {
  list-style: none;
}

.site-navigation-current a:not([href]) {
  background-color: var(--basic-white);
}

.site-navigation a {
  color: var(--basic-black);
}

.site-navigation a:hover {
  color: var(--basic-blue);
}
.site-navigation a:focus {
  color: var(--basic-black);
  opacity: 30%;
}
.site-navigation a:active {
  color: var(--basic-lightbrown);
}

/*Description*/

.description {
  background-color: var(--basic-white);
}

.description-slogan {
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
}

.description-desc {
  line-height: 26px;
  color: var(--basic-extra-dark);
}

/*features*/

.feature-item-descript h3{
  font-size: 21px;
}

.feature-item-blue {
  color: var(--basic-white);
  background-color: var(--basic-blue);
}

.feature-item-lightgray {
  color: var(--basic-black);
  background-color: var(--basic-lightgray);
}

.feature-item-lightgray p{
  color: var(--basic-extra-dark);
}


/*benefits*/


.benefits-item h4 {
  font-size: 21px;
  font-weight: 700;
}

.benefits-item p {
  color: var(--basic-extra-dark);
}


/*appointment*/


.appointment-headline {
  font-size: 30px;
  line-height: 24px;
  font-weight: 700;
}

.appointment-info {
  color: var(--basic-extra-dark);
}
.search {
  font-size: 21px;
  line-height: 26px;
  color: var(--basic-white);
  background-color: var(--basic-lightbrown);
  border: inherit;
}

.search:hover {
  color: var(--basic-white);
  background-color: var(--basic-saddlebrown);
  font-weight: 700;
}

.search:focus {
  color: var(--basic-white);
  opacity: 30%;
  background-color: var(--basic-darkbrown);
}

.appointment-item {
  line-height: 26px;
  color: var(--basic-black);
  font-weight: 700;
}

.button {
  font-size: 21px;
  line-height: 26px;
  color: var(--basic-white);
  background-color: var(--basic-blue);
  border: inherit;
}

.button:hover {
  color: var(--basic-white);
  background-color: var(--basic-skyblue);
}

.button:focus {
  color: var(--basic-white);
  opacity: 30%;
  background-color: var(--basic-lightskyblue);
}

.main-footer {
  color: var(--basic-black);
  background-color: var(--basic-white);
}

.footer-contacts {
  font-size: 21px;
  line-height: 26px;
  text-align: left;
  font-weight: 700;
}

.footer-phone {
  color: inherit;
  text-align: left;
  font-weight: 700;
}



/* Social button*/

.social-button {
  color: var(--basic-white);
  background-color:var(--basic-blue);

}
.social-button:hover {
  color: var(--basic-white);
  background-color: var(--basic-skyblue);
}
.social-button:focus {
  color: var(--basic-white);
  fill: solid;
  background-color: var(--basic-lightskyblue);
}

.footer-copyright {
  text-align: right;
}

.footer-logo {
  color: var(--basic-almost-black);
}

.footer-logo:hover {
  color: var(--basic-blue);
}

.footer-logo:focus {
  color: var(--basic-lavender);
}

/*Catalog*/


/* Filters */

.filters {
  background-image: url("../img/mountain.jpg");
  color: var(--basic-white);
}

.filter-type {
  font-size: 16px;
  font-weight: 700;
}

.filter-input-checkbox:hover {
  color: var(--basic-white);
}

.filter-input-checkbox:focus {
  color: var(--basic-dimgray);
}

.filter-cost-button {
  border: 2px solid var(--basic-white);
  color: var(--basic-white);
  background-color: transparent;
}

.filter-cost-button:hover {
  color: var(--basic-black);
  background-color: var(--basic-white);
}

/*results*/

.results-find {
  font-size: 21px;
  line-height: 26px;
}

.results-sort {
  font-size: 12px;
  line-height: 18px;
}

.results-price {
  font-size: 12px;
  line-height: 18px;
  color: var(--basic-blue);
}

.results-type {
  font-size: 12px;
  line-height: 18px;
  opacity: 30%;
}

.results-rating {
  font-size: 12px;
  line-height: 18px;
  opacity: 30%;
}

.results-rating:hover {
  color: var(--basic-blue);
}

.results-rating:focus {
  color: var(--basic-black);
}

/*selection*/

.title {
  font-size: 21px;
  line-height: 26px;
  color: var (var(--basic-black));
  font-weight: 700;
}

.title:hover {
  color: var(--basic-blue);
}

.title:focus {
  color: var(--basic-black);
  opacity: 30%;
}

.type {
  color: var(--basic-extra-dark);
}

.extra {
  color: var(--basic-white);
  background-color: var(--basic-blue);
  font-weight: 700;
}
.extra:hover {
  color: var(--basic-white);
  background-color: var(--basic-skyblue);
}

.extra:focus {
  color: var(--basic-white);
  opacity: 30%;
  background-color: var(--basic-lightskyblue);
}

.book {
  color: var(--basic-white);
  background-color: var(--basic-lightbrown);
  font-weight: 700;
}

.book:hover {
  color: var(--basic-white);
  background-color: var(--basic-saddlebrown);
}

.book:focus {
  color: var(--basic-white);
  opacity: 30%;
  background-color: var(--basic-darkbrown);
}

.rating {
  color: var(--basic-extra-light);
}
